<div class='col-xs-12'style="min-height:540px;">
	<div class="col-xs-12" style="color: black">
    <h1 style="color: #D666B">About Us</h1>
<p><b>India Ka Dabba is a restaurant in cloud which offer palatable and affordable multi-cuisine food made by expert chefs. Pre-book your meals to get them delivered at your preferred time slot. Free home delivery exclusively at indiakadabba.com</b></p>

<p><b>Most of us compromise and end up eating unhealthy and, at times to our own horror unhygienic food. We at India Ka Dabba offer you tasty food made from fresh vegetables and the best spices. Our chefs have impressive culinary skills and experience which reflect in the food being served. Currently, India Ka Dabba is active in areas around College of engineering and Viman Nagar Pune.</b></p>

<p><b>Setup your own ambiance and leave the food to us.</b></p>
	</div>	
</div>
