<div class="row">
<div class="col-xs-12">
	<div class="col-xs-12" style="color: black">
    <h1 style="color: #D666B">About Us</h1>
<p><b>India Ka Dabba is a restaurant in cloud which offers  palatable and affordable multi-cuisine food made by expert chefs. Pre-book your meals and get them delivered at your preferred time slot. Free home delivery from  exclusively at indiakadabba.com<b></p>
<p><b>What most of us end up eating is not really healthy and at times to our horror even unhygienic food. We at India Ka Dabba offers you tasty food made from fresh vegetables and the best spices. Our chefs have impressive culinary skills and experience which reflect in the food being served. Currently, India Ka Dabba is available in areas near College of engineering, Pune.</b></p>
	</div>	
</div>
</div>
