<!DOCTYPE html>
<html>
<head>
	<title>Coming soon</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>
<h2 style="position:absolute; top: 70%; left: 38%;"><%= link_to image_tag("fb.png",:width=>'50px')+"Visit our Facebook Page", "https://www.facebook.com/IndiaKaDabba?ref=aymt_homepage_panel", :class => "unlink large" %></h2>
</body>
</html>