/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require sweet-alert
 */

@import "bootstrap";

.background_image {
  background: image-url('welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px !important;
  margin-right: 0px !important;
  height: 560px;
}

.padding-none{
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-default{
	background-color: #1C0A3C;
	margin-bottom: 0px;
	border: 0px !important;
	border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
.navbar-header{
	margin-left: 100px !important;
}

.navbar-brand{
	font-size: 40px;
	font-weight: 700;
	color: white !important;
	text-decoration: none !important;
}

.has-above-300{
	margin-top: 300px;
}

.form-control{
	height:50px;
}

.width-400{
	width: 400px !important;
}

.has-above{
	margin-top:20px !important;
}

.has-above-100{
	margin-top: 100px !important;
}
.header{
	font-size: 20px;
	text-decoration: none !important;
	margin-top: 20px !important;
}
.signin-signup
{
  font-size: 20px;
	font-weight: 700;
	color: white !important;
	text-decoration: none !important;
}

.block{
	display: block !important;
}

.right{
	float: right !important;
}

.has-left{
	margin-left: 10px;
}

.block{
	display: block;
	background-color: orange;
}

.move-top{
	margin-top: -10px !important;
}

.text-center{
	font-size: 40px !important;
	font-weight: 700 !important;
}

.hash-left{
	margin-left: 40px !important;
}
.footertext{
	font-size: 15px;
	font-weight: 500;
}
.unlink{ 
	text-decoration: none !important;
	color: white;
}


.white{
	display: block;
	background-color: white;
}
.no-bottom{
	margin-bottom: -15px !important;
	margin-left: auto;
	margin-right: auto;
}

.ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content.success-dialog {
    background: #F9F9F9;
    border: 1px solid #90d93f;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    border: 0;
    color: #fff;
    font-weight: normal;
    background: none;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

.ui-dialog-titlebar-close{
  background: image-url('close.png');
}
.left-side{
	float:left;
	width: 60%;
}
.right-side{
	float: right;
	width: 40%;
}

.has-above-200{
	margin-top: 100px !important;
}
.height-20{
	height: 20px;
}
.has-above-50{
	margin-top: 50px !important;
}

.has-left-5{
	margin-left: 5px !important;
}

.active{
	background-color: #dc2829;
}

.table th, .table td { 
     border-top: none !important; 
 }

 .list-group{
 	border: none !important;
 }

 .larger{
 	font-size: 20px;
 }
 .largest{
 	font-size: 25px;
 }

 a.list-group-item:hover, a.list-group-item:focus {
text-decoration: none;
/* background-color: #f5f5f5; */
background-color: #dc2829;
}

.special .list-group-item:first-child {
   border-top-right-radius: 0px !important;
   border-top-left-radius: 0px !important;
}

.special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


.footer{
	background-color: #363535;
	height: 40px;
}

.ui-widget textarea .ui-widget button{
	font-size: 20px;
}