@media screen and (min-width: 320px) and (max-width: 480px){
  .zero-mobile-size{
  	width: 0em;
  	margin: 0em;
  	padding: 0em;
  }

  #cart{
  	margin-left: 3em;
  }

  .checkout{
  	margin-left: 12em;
  }

  .thirty-five-mobile-width{
  	width: 35% ;
  	
  	label.header{
  		margin-left: 0em;
  		font-size: 0.5em;
  	}

  }

  .summary{
  	margin-top: 3em !important;
  	.header{
  		margin-left: 8em;
  		font-size: 1em;
  	}
  }

  .navbar-header{
  	margin-left: 1em !important;
  }

  
} 