<div class='col-xs-12'>
	<div class="footertext has-left">
	  <ul class="list-inline has-above no-bottom">
	    <li class="has-left"><h3><%= link_to "Contact Us", "/contactus", :class => "unlink" %></h3></li>
	    <li class='has-left'><h3><%= link_to "Terms and Conditions", "/termscondition", :class => "unlink"%></h3></li>
	    <li class='has-left'><h3><%= link_to "About Us", "/aboutus", :class => "unlink" %></h3></li>
	  </ul>
	</div>
</div>