 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 <div id="top"></div>
    <!-- Parallax Fullscreen -->
    <div id="top-slider-1" class="parallax-bg11 parallax">
        <div class="overlay"></div>

        <header id="header-1" class="header header-sticky float-header is-sticky">
            <div class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="span2">
                            <div id="logo" class="logo">
                                <!-- <a href="index.html" rel="home">
                                    <img src="logo.jpg" alt="ZupaRestaurant" />
                                </a> -->
                                <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand"%>
                            </div><!-- /.logo -->
                        </div>
                        <div class="span10">
                            <div class="btn-menu"></div><!-- //mobile menu button -->
                            <nav id="mainnav" class="">
                                <ul class="menu">
                                    <li><a href="www.indiakadabba.com#top">Home</a></li>
                                    <li><a href="www.indiakadabba.com#about">About</a></li>
                                    <!-- <li><a href="#menu">Menu</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#reservation">Reservation</a></li> -->
                                    <!-- <li><a href="#blog">Blog</a></li> -->
                                    <li><a href="www.indiakadabba.com#testimonials">Testimonials</a></li>
                                    <li><a href="www.indiakadabba.com#contact">Contact</a></li>
                                    <% unless current_user %>
          <li><%= link_to "Sign in | Sign up", new_user_session_path%></li>
          <li><%#= link_to "Sign up", new_user_registration_path, id: "sign_up", class: 'signin-signup' %></li>
        <% end %>
        <% if current_user %>
          <li> <%= link_to "#{current_user.name}", home_index_path({id: current_user.id})%></li>
          <li class="has-left"> <%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
        <% end %>
                                 </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.span10 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-wrap -->
        </header><!-- /.header -->