<!DOCTYPE html>
<html>
<head>
  <title>IndiaKaDabba</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>	
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "autocomplete-rails.js" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="food, pune, shivaji nagar pune, india ka dabba, indiakadabba, order food online, food delivery, biryani, paratha, food services, night food">
  <meta name="description" content="India ka dabba is a restaurant in cloud which offers palatable and affordable multi-cusine food made by expert chef's">
  <%= csrf_meta_tags %>
</head>
<!-- <body> style="overflow: hidden; background: #D6222B"> -->

<%= yield %>
</html>

